---
---

@import "bulma/bulma";


.section:nth-of-type(even) {
  background-color: whitesmoke;
}

.hero {
  background-image: url('/assets/images/hero.jpg');
  background-size: contain;
}

.hero-body {
  background-color: $primary;
  filter: opacity(70%) contrast(80%) saturate(100%);
  // z-index: 2;
}