---
---
@import "bulma/sass/utilities/initial-variables";

// Colors

// $snow: #f9f9f9;
$white: #fff;
$eerie-black: #1C1C1C;
$venice-blue: #274C77;
$shakespeare: #6096BA;

$primary: $venice-blue;
$info: $shakespeare;

// Fonts
$playfair-display: 'Playfair Display', serif;
$cormorant: 'Cormorant', serif;
$open-sans: 'Open Sans', serif;

$family-primary: $cormorant;


$size-1: 7em;
$body-size: 20px;

@import "bulma/bulma";

h1, h2, h3 {
  font-weight: bolder;
  font-family: $playfair-display;
}

.section:nth-of-type(even) {
  background-color: whitesmoke;
}


.navbar {
  background-color: $eerie-black;
  font-family: $open-sans;
  font-size: 16px;
  a {
  color: white;
  }
}