<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:300i,400,400i,700|Open+Sans|Playfair+Display:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Paul Newsam | Web Developer</title>
</head>
<body>

  {% include navbar.html %}

  {{ content }}
  
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>&copy; Paul Newsam 2017</p>
      </div>
    </div>
  </footer>

</body>
</html>